@media screen and (max-width:1020px) {
    .container {
        width: 85%;
    }
     .details .col{
        width: 48%;
    }
}
@media screen and (max-width:700px) {
    .container {
        width: 90%;
    }
    .aboutImg , .aboutContent , .story .Content , .story .Img , .offers figure , .contactContent , .map , .details .col{
        width: 70%;
    }
}
@media screen and (max-width:500px) {
    .container {
        width: 90%;
    }
    .aboutImg , .aboutContent , .story .Content , .story .Img , .offers figure , .contactContent , .map , .details .col{
        width: 90%;
    }
}